<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BTS.Properties.Settings.db_btsConnectionString" connectionString="Data Source=.;Initial Catalog=db_bts;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="localhost_db_bts_Connection" connectionString="XpoProvider=MSSqlServer;data source=.;integrated security=SSPI;initial catalog=db_bts" />
        <add name="localhost_db_bts_Connection 1" connectionString="XpoProvider=MSSqlServer;data source=.;integrated security=SSPI;initial catalog=db_bts" />
        <add name="localhost_db_bts_Connection 2" connectionString="XpoProvider=MSSqlServer;data source=.;integrated security=SSPI;initial catalog=db_bts" />
        <add name="localhost_db_bts_Connection 3" connectionString="XpoProvider=MSSqlServer;data source=.;integrated security=SSPI;initial catalog=db_bts" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>